body {
    line-height: 1.15;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lemonchiffon;
    padding: 0;
    margin: 0;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

#logo img {
    padding-top: 10px;
    padding-left: 100px;
    width: 50px;
    height: 50px;
}

#logo {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    width: 100%;
    font-size: 12px;
    float: left;
    background-color: hsl(20, 100%, 99%);
}

#logo h2 {
    color: rgb(82, 82, 82);
    margin-top: 30px;
    margin-left: 3px;
}

#logo h2 span {
    color: grey;
}



header {
    text-align: center;
    min-height: 20px;
    background-color: rgb(99, 190, 226);
    border-bottom: rgb(11, 5, 71) 2px solid;
}

header a {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header a:hover {
    transition: 0.5s;
    cursor: pointer;
    font-weight: 600;
    color: #0a1c8b;

}

header li {
    display: inline;
    padding-right: 120px;
}

nav {
    margin-top: 10px;
    margin-bottom: 10px;

}

#display {
    margin-top: 0;
    color: rgb(1, 40, 58);
    text-align: center;
    height: 200px;
    background: url("image/background.jpg") no-repeat 0 -200px;
    background-size: cover;
    background-position: center;
}

#display h3 {
    font-size: 20px;
    margin-top: 60px;
    margin-bottom: 20px;
}

#display p {
    font-size: 16px;
    color: rgb(2, 14, 25);
}

#magazine {
    padding: 8px;
    background-color: beige;
}

#magazine h3 {
    font-size: 15px;
    color: rgb(165, 152, 27);
    float: left;
}

#magazine form {
    float: right;
    margin-top: 10px;
}

#magazine input[type="email"] {
    background-color: rgb(246, 238, 165);
    padding: 5px;
    height: 20px;
    width: 230px;
    border: none;
}

.btn-subscribe {
    height: 31px;
    background-color: rgb(45, 43, 6);
    padding-left: 15px;
    padding-right: 15px;
    border: 0;
    color: rgb(165, 152, 27);
    font-size: 14px;
}

.btn-subscribe:hover {
    cursor: pointer;
    box-shadow: 3px 3px 4px rgb(235, 246, 33);
}

#boxes {
    margin-top: 5px;
    box-shadow: 3px 3px 5px 5px grey;
}

.box {
    text-align: center;
    float: left;
    padding-top: 12px;
    padding-right: 50px;
    width: 20%;
}

.box img {
    width: 60px;
    height: 60px;
}

.box p {
    font-size: 15px;
    color: rgb(17, 43, 35);
}

.about-us {
    margin-top: 20px;
    display: flex;
    gap: 50px;

}

.about-us h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    padding-top: 100px;
    padding-left: 90px;
}

.about-us img {
    width: 450px;
    height: 300px;
    box-shadow: 25px 25px 30px rgb(49, 49, 80);
}

.dark {
    padding: 15px;
    background-color: rgb(62, 90, 9);
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}


aside#sidebar {
    float: left;
    width: 20%;
    margin-top: 10px;
}

article#central-col {
    text-decoration: solid;
    font-size: 18px;
    margin-top: 50px;
    float: right;
    width: 65%;
}

footer {
    min-height: 170px;
    margin-top: 15px;
    text-align: center;
    padding: 15px;
    background-color: rgb(28, 149, 197);
    color: rgb(255, 254, 254);
    font-size: 13px;
}