body {
    line-height: 1.15;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    padding: 0;
    margin: 0;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

#logo img {
    padding-top: 10px;
    padding-left: 100px;
    width: 50px;
    height: 50px;
}

#logo {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    width: 100%;
    font-size: 12px;
    float: left;
    background-color: hsl(20, 100%, 99%);
}

#logo h2 {
    color: rgb(82, 82, 82);
    margin-top: 30px;
    margin-left: 3px;
}

#logo h2 span {
    color: grey;
}



header {
    text-align: center;
    min-height: 20px;
    background-color: rgb(99, 190, 226);
    border-bottom: rgb(11, 5, 71) 2px solid;
}

header a {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header a:hover {
    transition: 0.5s;
    cursor: pointer;
    font-weight: 600;
    color: #0a1c8b;

}

header li {
    display: inline;
    padding-right: 120px;
}

nav {
    margin-top: 10px;
    margin-bottom: 10px;

}

#display {
    margin-top: 0;
    color: rgb(1, 40, 58);
    text-align: center;
    height: 200px;
    background: url("image/background.jpg") no-repeat 0 -200px;
    background-size: cover;
    background-position: center;
}

#display h3 {
    font-size: 20px;
    margin-top: 60px;
    margin-bottom: 20px;
}

#display p {
    font-size: 16px;
    color: rgb(2, 14, 25);
}

#magazine {
    padding: 8px;
    background-color: rgb(205, 214, 214);
}

#magazine h3 {
    font-size: 15px;
    color: rgb(103, 102, 100);
    float: left;
}

#magazine form {
    float: right;
    margin-top: 10px;
}

#magazine input[type="email"] {
    background-color: rgb(80, 80, 75);
    padding: 5px;
    height: 20px;
    width: 230px;
    border: none;
}

.btn-subscribe {
    height: 31px;
    background-color: rgb(46, 46, 44);
    padding-left: 15px;
    padding-right: 15px;
    border: 0;
    color: rgb(255, 255, 251);
    font-size: 14px;
}

.btn-subscribe:hover {
    cursor: pointer;
    box-shadow: 3px 3px 4px rgb(57, 57, 56);
}

#boxes {
    margin-top: 5px;
    box-shadow: 3px 3px 5px 5px grey;
}

.box {
    text-align: center;
    float: left;
    padding-top: 12px;
    padding-right: 50px;
    width: 20%;
}

.box img {
    width: 60px;
    height: 60px;
}

.box p {
    font-size: 15px;
    color: rgb(17, 43, 35);
}

.about-us {
    margin-top: 20px;
    display: flex;
    gap: 90px;

}

.about-us p {
    font-size: 30px;
    padding-top: 100px;
    padding-left: 90px;
}

.about-us img {
    width: 450px;
    height: 300px;
    box-shadow: 25px 25px 30px rgb(49, 49, 80);
}

.dark {
    padding: 15px;
    background-color: rgb(62, 90, 9);
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}


aside#sidebar {
    width: 30%;
    float: left;
}

#central-col {
    text-decoration: solid;
    font-size: 17px;
    margin-top: 50px;
    float: right;
    width: 65%;
}

.contact-us-col {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

#information h2 {
    margin-left: 40px;
    padding: 10px;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#information p {
    text-align: justify;
    color: rgb(110, 110, 110);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 50px;
    font-size: 18px;
}

.span:hover span {
    cursor: pointer;
    color: #0726f0;
}

#contact-us-sidebar {
    margin-right: 30px;
    width: 100%;
    float: right;
}

.contact-us-dark {
    text-align: center;
    background-color: rgb(227, 227, 227);
    color: white;
}

.contact-us-dark p {
    font-size: 30px;
    color: black;
    padding-top: 30px;
}

.form input {
    width: 80%;
    height: 20px;
    margin: 10px;
    padding: 20px;
    border: 5px solid rgb(230, 214, 214);
    border-radius: 20px;
    font-size: 13px;
}

.message {
    margin-left: 30px;
    margin: 10px;
    width: 80%;
    height: 80px;
    padding: 20px;
    border: 5px solid rgb(214, 196, 196);
    border-radius: 20px;
    font-size: 13px;
}

.btn-send {
    color: white;
    margin: 20px;
    width: 40%;
    margin-left: 50px;
    background-color: rgb(15, 229, 154);
    height: 50px;
    border: 5px solid rgb(15, 229, 154);
    border-radius: 10px;
    font-size: 17px;
}

.btn-send:hover {
    cursor: pointer;
    box-shadow: 3px 3px 5px rgb(11, 177, 119);
    ;
}



#articles {
    width: 90%;
    margin: auto;
}

#articles-info h2 {
    margin-top: 80px;
    text-decoration: solid;
    color: #828489;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#articles-info p {
    text-align: justify;
    font-size: 17px;
    margin-bottom: 80px;
}

.cards {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 20px;
}

.card {
    text-align: justify;
    padding: 10px;
    margin: 10px;
    border: 5px solid rgb(172, 225, 246);
    background-color: rgb(218, 242, 252);
}

.card:hover {
    cursor: pointer;
    box-shadow: 4px 4px 4px 8px gray;
}

.card h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.card p {
    font-family: 'Times New Roman', Times, serif;
}

footer {
    min-height: 100vh;
    text-align: center;
    padding: 15px;
    background-color: rgb(28, 149, 197);
    color: rgb(255, 254, 254);
    font-size: 13px;
}